@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

/*! ______ОБНУЛЕНИЕ______ */
html {
  background-color: #000;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0px 10px;
}

.header--up {
  font-family: "amatic sc", sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
  height: 20px;
  color: white;
  background-color: black;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header--up__title {
  text-transform: uppercase;
  font-size: 12px;
}

/*! ///---HEADER_UP---\\\ !*/
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  font-family: "alumni sans", serif;
  background-color: rgb(255, 228, 196);
}
.header__inner {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header__gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0px 20px;
  height: 100%;
}
.header__male, .header__female {
  cursor: pointer;
  padding: 0px 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__male--nav, .header__female--nav {
  position: absolute;
  top: 100%;
  left: 0;
  height: 50px;
  width: 100%;
  cursor: auto;
  background-color: rgb(0, 0, 0);
  -webkit-transition: 0.1s ease-in 0.2s;
  -o-transition: 0.1s ease-in 0.2s;
  transition: 0.1s ease-in 0.2s;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}
.header__male:hover .header__male--nav, .header__male:hover .header__female--nav, .header__female:hover .header__male--nav, .header__female:hover .header__female--nav {
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  visibility: visible;
}
.header__male:hover .header__title, .header__female:hover .header__title {
  border-bottom: 3px solid black;
}
@media (max-width: 768px) {
  .header__male:hover .header__title, .header__female:hover .header__title {
    border-bottom: none;
  }
}
.header__title {
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__arrow {
  display: none;
}
.header__link {
  text-decoration: none;
  color: rgb(255, 228, 196);
  font-size: 14px;
  letter-spacing: 2px;
  border-bottom: 2px solid transparent;
}
.header__link:hover {
  border-bottom: 2px solid rgb(255, 228, 196);
}
.header__mobile {
  display: none;
}
.header__logo {
  padding: 7px 0px;
  justify-self: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.header__logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  height: 55px;
}
.header__logo:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  justify-self: end;
}
.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header__form::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: black;
}
.header__form:hover .header__btn {
  -webkit-animation: header 1s linear;
          animation: header 1s linear;
}
.header__search {
  width: 130px;
  background-color: transparent;
  font-family: "alumni sans";
  font-size: 18px;
}
.header__search::-webkit-input-placeholder {
  padding: 0px 4px;
  color: rgb(181, 181, 181);
  letter-spacing: 4px;
}
.header__search::-moz-placeholder {
  padding: 0px 4px;
  color: rgb(181, 181, 181);
  letter-spacing: 4px;
}
.header__search:-ms-input-placeholder {
  padding: 0px 4px;
  color: rgb(181, 181, 181);
  letter-spacing: 4px;
}
.header__search::-ms-input-placeholder {
  padding: 0px 4px;
  color: rgb(181, 181, 181);
  letter-spacing: 4px;
}
.header__search::placeholder {
  padding: 0px 4px;
  color: rgb(181, 181, 181);
  letter-spacing: 4px;
}
.header__btn {
  width: 21px;
  height: 21px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__basket {
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
}
.header__basket:hover {
  -webkit-animation: header 1s linear;
          animation: header 1s linear;
}
.header__svg {
  height: 26px;
  aspect-ratio: 1/1;
}
.header__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "alumni sans";
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  right: -4px;
  bottom: 0;
  aspect-ratio: 1/1;
  height: 12px;
  border-radius: 50%;
  background-color: red;
}
.header__burger {
  height: 30px;
  aspect-ratio: 1/1;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.header__burger span {
  width: 100%;
  height: 3px;
  background-color: black;
  position: relative;
  border-radius: 2px 0 0 2px;
}
.header__burger span::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 0;
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 2px 0 0 2px;
}
.header__burger span::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  height: 3px;
  width: 60%;
  background-color: black;
  border-radius: 2px 0 0 2px;
}

/*! ///---HEADER---\\\ !*/
.intro {
  overflow: hidden;
  background: url(../img/intro/attention-european-man-with-megaphone-pointing-finger-to-the-left-on-pink-background.jpg) center;
  background-size: cover;
  position: relative;
}
.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 89px);
}
.intro__btn {
  margin: 0px 0px 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "amatic sc";
  font-weight: 900;
  letter-spacing: 3px;
  word-spacing: 10px;
  border: 2px solid;
  text-align: center;
  padding: 20px;
  border-radius: 50%;
  position: relative;
  aspect-ratio: 1/1;
  color: rgb(255, 228, 196);
  top: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.intro__btn:hover {
  top: -20px;
  -webkit-box-shadow: 0 20px 0px #000;
          box-shadow: 0 20px 0px #000;
}
.intro__btn:hover .intro__img {
  height: 60px;
  top: 5px;
  left: 10px;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.intro__btn:hover .intro__img--1 {
  top: -15px;
  left: auto;
  right: -15px;
  height: 85px;
}
.intro__btn:hover .intro__img--2 {
  top: auto;
  bottom: -25px;
  left: auto;
  right: -25px;
  height: 115px;
}
.intro__btn:hover .intro__img--3 {
  top: auto;
  bottom: -20px;
  left: -20px;
  height: 65px;
}
.intro__btn:hover .intro__img--4 {
  top: auto;
  bottom: 85px;
  height: 100px;
  left: -70px;
}
.intro__btn:hover .intro__img--5 {
  top: auto;
  bottom: 90px;
  left: auto;
  right: -40px;
  height: 100px;
}
.intro__btn:hover .intro__animation--twist {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.intro__animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 90px);
  aspect-ratio: 1/1;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.intro__animation--twist {
  -webkit-animation: test 7s infinite ease-in-out;
          animation: test 7s infinite ease-in-out;
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}
.intro__img {
  -webkit-animation: testq 7s infinite ease-in-out;
          animation: testq 7s infinite ease-in-out;
  position: absolute;
  top: 10px;
  left: 45px;
  height: 45px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.intro__img--1 {
  top: -10px;
  left: auto;
  right: 30px;
  height: 70px;
}
.intro__img--2 {
  top: auto;
  bottom: -10px;
  left: auto;
  right: 20px;
  height: 100px;
}
.intro__img--3 {
  top: auto;
  bottom: 10px;
  left: 10px;
  height: 50px;
}
.intro__img--4 {
  top: auto;
  bottom: 100px;
  height: 80px;
  left: -35px;
}
.intro__img--5 {
  top: auto;
  bottom: 90px;
  left: auto;
  right: 0px;
  height: 80px;
}
.intro__swipe {
  cursor: pointer;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 2;
}
.intro__swipe::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.17);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.intro__swipe--2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: center;
  position: relative;
  text-align: center;
}
.intro__go {
  font-family: "alumni sans";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgb(255, 228, 196);
  padding: 6px 0px 29px 0px;
}
.intro__arrow {
  position: absolute;
  top: 15px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  height: 40px;
  aspect-ratio: 2/1;
  fill: rgb(255, 228, 196);
  -webkit-animation: arrow 3s infinite ease-in-out;
          animation: arrow 3s infinite ease-in-out;
}
.intro__arrow--2 {
  top: 21px;
  height: 20px;
}

.slider {
  background-color: #fff;
  position: relative;
  margin: 0px 10px;
  padding: 0px;
}
.slider:hover .slick-arrow {
  opacity: 0.8;
}
.slider--up {
  background-color: #fff;
  padding: 50px 0px;
}
.slider__item {
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__item a {
  display: block;
  height: 100%;
}
.slider__img {
  width: 100%;
  aspect-ratio: 1/1;
  padding: 10px 10px;
  margin: 0px 0px 15px 0px;
}
.slider__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__title {
  text-transform: uppercase;
  font-family: "alumni sans";
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 14px;
  color: rgb(82, 82, 82);
  padding: 0px 20px;
  text-align: center;
}
.slider__price {
  text-align: center;
  color: #000;
  font-size: 20px;
  text-transform: lowercase;
  font-weight: 700;
  padding: 10px 0px;
  letter-spacing: 0px;
}
.slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.slider .slick-list {
  overflow: hidden;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  font-size: 0;
  aspect-ratio: 1/1;
  height: 40px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: translatey(-50%);
      -ms-transform: translatey(-50%);
          transform: translatey(-50%);
  opacity: 0;
}
.slider .slick-arrow:hover {
  opacity: 1;
  height: 43px;
}
.slider .slick-prev {
  left: 5px;
  background: url(../img/slider/arrow1.png) center/cover;
}
.slider .slick-next {
  right: 5px;
  background: url(../img/slider/arrow2.png) center/cover;
}
.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 10px 3px;
}
.slider .slick-dots button {
  font-size: 0;
  aspect-ratio: 1/1;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
}
.slider .slick-dots .slick-active button {
  background-color: #000;
}

/*! ///---INTRO---\\\ !*/
@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-50%, 5px, 0);
            transform: translate3d(-50%, 5px, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}
@keyframes arrow {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-50%, 5px, 0);
            transform: translate3d(-50%, 5px, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}
@-webkit-keyframes test {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes test {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes testq {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes testq {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@-webkit-keyframes header {
  0% {
    -webkit-transform: rotateX(0) scale(1);
            transform: rotateX(0) scale(1);
  }
  50% {
    -webkit-transform: rotateX(45deg) scale(1.2);
            transform: rotateX(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotateX(0deg) scale(1);
            transform: rotateX(0deg) scale(1);
  }
}
@keyframes header {
  0% {
    -webkit-transform: rotateX(0) scale(1);
            transform: rotateX(0) scale(1);
  }
  50% {
    -webkit-transform: rotateX(45deg) scale(1.2);
            transform: rotateX(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotateX(0deg) scale(1);
            transform: rotateX(0deg) scale(1);
  }
}
@media (max-width: 768px) {
  .header__inner {
    grid-template-columns: 1fr 0 1fr;
    gap: 2px;
  }
  .header__gender {
    padding: 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 35px;
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 4px;
    overflow: scroll;
  }
  .header__male, .header__female {
    color: #000;
    width: 200px;
    height: auto;
    padding: 0px 0px;
    border-radius: 3px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
  .header__male--nav, .header__female--nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: static;
    cursor: auto;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    width: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    visibility: visible;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
  }
  .header__title {
    padding: 5px 10px;
    width: 100%;
    border-bottom: none;
  }
  .header__arrow {
    position: absolute;
    display: block;
    top: 10px;
    right: 50px;
    aspect-ratio: 1/1;
    height: 25px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header__link {
    color: #000;
    font-size: 20px;
    border-bottom: none;
  }
  .header__link:hover {
    border-bottom: none;
  }
  .header__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #000;
    width: 200px;
    padding: 5px 10px;
    height: auto;
    border-radius: 3px;
  }
  .header__logo {
    grid-column-start: 2;
  }
  .header__logo img {
    height: 45px;
  }
  .header__form::after {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 0;
    right: 0;
  }
  .header__search {
    width: 0px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header ._searchActive .header__search {
    width: 130px;
  }
  .header ._searchActive .header__form::after {
    width: 100%;
  }
  .header ._searchActive .header__logo {
    justify-self: start;
    grid-column-start: 1;
  }
  .header__right {
    grid-column-start: 3;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header ._burgerOpen .header__gender {
    left: 0;
  }
  .header ._burgerOpen .header__burger span {
    border-radius: 0 0 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .header ._burgerOpen .header__burger span::before {
    top: 0;
    border-radius: 0 0 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .header ._burgerOpen .header__burger span::after {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .header ._sliderOpen .header__arrow {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .intro {
    background: url(../img/intro/surprised-curly-woman-in-beret-looks-to-left-charming-lady-in-pink-sweater-sunglasses-and-green-skirt-holds-grey-handbag.jpg) center/cover;
  }
  .intro__inner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: calc(100vh - 79px);
  }
  .intro__btn {
    margin: 30% 0px 0px 30px;
    font-size: 23px;
  }
}