*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,ol,li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/*! ______ОБНУЛЕНИЕ______ */
html{
   background-color: #000;
}

$maxWidth: 1920;
$maxWidthContainer: 1400;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
$addSize: $startSize - $minSize;
@if $type==1 {
// МЕНЬШЕ КОНТЕЙНЕРА
#{$property}:$startSize + px;
@media (max-width: #{$maxWidthContainer + px}) {
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidthContainer - 375}));
}
}
@else if $type==2 {
// БОЛЬШЕ КОНТЕЙНЕРА
#{$property}:$startSize + px;
@media (min-width: #{$maxWidthContainer + px}) {
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth - 375}));
}
}
@else {
//ВСЕГДА
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth - 375}));
}
}

$fontsize7px:7px;
$fontsize12px:12px;
$fontsize14px:14px;
$fontsize16px:16px;
$fontsize18px:18px;
$fontfamily1:'bad script';
$fontfamily2:'amatic sc';
$fontfamily3:'alumni sans';
$color1:rgba(255, 228, 196, 1);

.container {
   max-width: 1400px;
   margin: auto;
   padding: 0px 10px;
}
.header--up {
   font-family:$fontfamily1,sans-serif;
   font-weight: 700;
   letter-spacing: 3px;
   height: 20px;
   color: white;
   background-color: black;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   &__title{
      text-transform: uppercase;
      font-size: $fontsize7px;
   }
}
//! ///---HEADER_UP---\\\ !\\

/*! ///---HEADER_UP---\\\ !*/
.header {
   position: sticky;
   top: 0;
   left: 0;
   z-index: 999;
   font-family:$fontfamily3,serif;
   background-color:$color1;
		&__inner {
         // height: 50px;
         // display: flex;
         // justify-content: space-between;
         // align-items: center;
         display: grid;
         grid-template-columns: 200px 1fr 200px;
         align-items: center;
         gap: 10px;
		}

		&__gender {
         display: flex;
         font-size: 28px;
         text-transform: uppercase;
         font-weight: bold;
         padding: 0px 20px;
         height: 100%;
		}

		&__male,&__female{
         cursor: pointer;
         padding: 0px 10px;
         height: 100%;
         display: flex;
         align-items: center;

         &--nav{
            position: absolute;
            top:100%;
            left: 0;
            height: 50px;
            width: 100%;
            cursor: auto;
            background-color: rgb(0, 0, 0);
            transition: .1s ease-in 0.2s;
            padding: 10px 20px;
            display: flex;
            gap: 30px;
            align-items: center;
            visibility: hidden;
         }
         &:hover{
            .header__male--nav,.header__female--nav{
               transition: .1s ease-in;
               visibility:visible;
            }
            .header__title{
               border-bottom: 2px solid black;
               @media (max-width:768px) {
                  border-bottom:none;
               }
            }
         }
		}
      &__title{
         border-bottom: 2px solid rgba(0, 0, 0, 0);
         transition: .3s;
      }
      &__arrow{
         display: none;
      }
      &__link{
         text-decoration: none;
         color:$color1;
         font-size: $fontsize14px;
         letter-spacing: 2px;
      }
      &__mobile{
         display: none;
      }
		&__logo {
         padding: 7px 0px;
         justify-self: center;
         transition: .2s;
         img{
            object-fit: cover;
            width: auto;
            @include adaptiv-value('height',55,45,1);
         }
         &:hover{
            transform: scale(1.1);
         }
		}

      &__right{
         display: flex;
         gap: 20px;
         justify-self:end;
      }
		&__form {
         display: flex;
         justify-content: end;
         align-items: center;
         position: relative;
         &::after{
            content: '';
            position: absolute;
            top: 100%;
            right: 0;
            width: 100%;
            height: 1px;
            background-color: black;
         }
         &:hover{
            .header__btn{
               animation: header 1s linear;
            }
         }
		}

		&__search {
         width: 130px;
         background-color:transparent;
         font-family:$fontfamily3;
         font-size: 18px;
         &::placeholder{
            padding: 0px 4px;
            color: rgb(181, 181, 181);
            letter-spacing: 4px;

         }
		}

      &__btn{
         width: 21px;
         height: 21px;
         cursor: pointer;
         transition: .3s;
      }
		&__basket {
         align-self: center;
         img{
            height: 26px;
            aspect-ratio: 1/1;
         }
         &:hover{
            animation: header 1s linear;
         }
		}
      &__burger{
         height: 30px;
         aspect-ratio: 1/1;
         display: none;
         align-items: center;
         cursor: pointer;
         span{
            width: 100%;
            height: 3px;
            background-color: black;
            position: relative;
            border-radius: 2px 0 0 2px;
            &::before{
               content: '';
               position: absolute;
               top: -8px;
               right: 0;
               height: 3px;
               width: 100%;
               background-color: black;
               border-radius: 2px 0 0 2px;

            }
            &::after{
               content: '';
               position: absolute;
               top: 8px;
               right: 0;
               height: 3px;
               width: 60%;
               background-color: black;
               border-radius: 2px 0 0 2px;

            }
         }
      }
}
//! ///---HEADER---\\\ !\\

/*! ///---HEADER---\\\ !*/
.test {
   position: absolute;
   top: -200px;
   z-index: 1000;
   left: 40%;
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   &__inner {
      animation: test 7s infinite linear;
      width: 150px;
      aspect-ratio: 1/1;
      // background-color: #fff;
      position: relative;
   }
   &__img{
      animation: testq 7s infinite linear;
      height: 40px;
      position: absolute;
      top: 0;
      left: 0;
   }
   .t1{
      height: 55px;
      top: 0;
      left: auto;
      right: 0;
   }
   .t2{
      height: 70px;
      top: auto;
      bottom: -10px;
      right: -10px;
      left: auto;

   }
   .t3{
      top: auto;
      bottom: 0;
      left: -10px;
   }
}
.intro {
   background: url(../img/intro/attention-european-man-with-megaphone-pointing-finger-to-the-left-on-pink-background.jpg) center;
   background-size: cover;
   position: relative;

   &__inner {
      display: flex;
      align-items: center;
      height: calc(100vh - 100px);
   }
   &__btn{
      margin: 0px 0px 0px 50px;
      display: flex;
      align-items: center;
      font-size: 30px;
      text-transform: uppercase;
      font-family: $fontfamily2;
      font-weight: 900;
      letter-spacing: 3px;
      word-spacing: 10px;
      border: 2px solid;
      text-align: center;
      padding: 20px;
      border-radius: 50%;
      position: relative;
      aspect-ratio: 1/1;
      color: $color1;
      top: 0;
      transition: .4s;
      &:hover{
         top: -20px;
         // top: -15px;
         // box-shadow: 15px 15px 10px #000;
         box-shadow: 0 20px 0px #000;
         .intro__img{
            height: 60px;
            top: 5px;
            left: 10px;
            animation-play-state: paused;
            // animation: testq 4s infinite linear;
            &--1{
               top: -15px;
               left: auto;
               right: -15px;
               height:85px;
            }
            &--2{
               top: auto;
               bottom: -25px;
               left: auto;
               right: -25px;
               height:115px;
            }
            &--3{
               top: auto;
               bottom: -20px;
               left: -20px;
               height: 65px;
            }
            &--4{
               top: auto;
               bottom: 85px;
               height: 100px;
               left: -70px;
            }
            &--5{
               top: auto;
               bottom: 90px;
               left: auto;
               right: -40px;
               height: 100px;
            }

         }
         .intro__animation--twist{
            animation-play-state: paused;
         }

      }
   }
   &__animation{
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% + 90px);
      aspect-ratio: 1/1;
      transform: translate3d(-50%,-50%,0);
      &--twist{
         animation: test 7s infinite ease-in-out;
         position: relative;
         width: 100%;
         aspect-ratio: 1/1;
      }
   }
   &__img{
      animation: testq 7s infinite ease-in-out;
      position: absolute;
      top: 10px;
      left: 45px;
      height: 45px;
      transition: .4s;
      &--1{
         top: -10px;
         left: auto;
         right: 30px;
         height: 70px;

      }
      &--2{
         top: auto;
         bottom: -10px;
         left: auto;
         right: 20px;
         height: 100px;
         // transform: rotate(90deg);
      }
      &--3{
         top: auto;
         bottom: 10px;
         left: 10px;
         height: 50px;
      }
      &--4{
         top: auto;
         bottom: 100px;
         height: 80px;
         left: -35px;
      }
      &--5{
         top: auto;
         bottom: 90px;
         left: auto;
         right: 0px;
         height: 80px;
      }
   }
   &__swipe{
      cursor: pointer;
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 100%;
      z-index: 2;
      &::after{
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width:100%;
         z-index: -1;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.17);
         backdrop-filter: blur(10px);
      }
      // transform: translateX(-50%);
      &--2{
         align-self: flex-end;
         justify-self: center;
         position: relative;
         text-align: center;
      }
   }
   &__go{
      font-family: $fontfamily3;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $color1;
      padding: 6px 0px 29px 0px;
   }
   &__arrow{
      position: absolute;
      top: 15px;
      left: 50%;
      transform: translate3d(-50%,0,0);
      height: 40px;
      aspect-ratio: 2/1;
      fill: $color1;
      animation: arrow 3s infinite ease-in-out;
      &--2{
         top: 21px;
         height: 20px;
      }
   }
}
@keyframes arrow{
   0%{transform: translate3d(-50%,0,0);}
   50%{transform: translate3d(-50%,5px,0);}
   100%{transform: translate3d(-50%,0,0);}
}
@keyframes test {
   from{transform: rotate(0);}
   to{transform: rotate(360deg);}
}
@keyframes testq {
   from{transform: rotate(0);}
   to{transform: rotate(-360deg);}
}


@keyframes header {
   0%{transform:rotateX(0) scale(1)}
   50%{transform:rotateX(45deg) scale(1.2)}
   100%{transform:rotateX(0deg) scale(1)}
   
}
@media (max-width:768px){
   .header{
      &__inner{
         grid-template-columns:1fr  0 1fr;
         gap:2px;
      }
      &__gender{
         padding: 10px 0px;
         display: flex;
         font-size: 35px;
         position: absolute;
         top: 100%;
         left: -100%;
         width: 100%;
         background-color: rgb(255, 255, 255);
         transition: .3s;
         flex-direction: column;
         align-items: flex-start;
         gap: 4px;
         overflow: scroll;
      }
      &__male,&__female{
         color: #000;
         width: 200px;
         height: auto;
         padding: 0px 0px;
         border-radius: 3px;
         flex-direction: column;
         align-items: flex-start;
         position: relative;
         // border: 2px solid rgb(0, 0, 0);
         // border-radius: 3px;
         // background-color: $color1;
         &--nav{
            flex-direction: column;
            position:static;
            cursor: auto;
            background-color: rgb(255, 255, 255);
            padding: 10px 20px;
            display: flex;
            gap: 10px;
            width: auto;
            align-items:flex-start;
            visibility: visible;
            height: auto;
            padding-top:0;
            padding-bottom:0;
            overflow: hidden;
         }
      }
      &__title{
         padding: 5px 10px;
         width: 100%;
         border-bottom: none;
      }
      &__arrow{
         position: absolute;
         display: block;
         top: 10px;
         right: 50px;
         aspect-ratio: 1/1;
         height: 25px;
         transition: .4s;
         transform:rotate(180deg);
      }
      &__link{
         color:#000;
         font-size: 20px;
      }
      &__mobile{
         display: flex;
         flex-direction: column;
         color: #000;
         width: 200px;
         padding: 5px 10px;
         height: auto;
         border-radius: 3px;
      }
      &__logo{
         grid-column-start: 2;
      }
      &__form{
         &::after{
            transition: .3s;
            width: 0;
            right: 0;
         }
      }
      &__search{
         width: 0px;
         transition: .3s;
      }
      ._searchActive{
         .header__search{
            width: 130px;
         }
         .header__form{
            &::after{
               width: 100%;
            }
         }
         .header__logo{
            justify-self: start;
            grid-column-start: 1;
         }
      }
      &__right{
         grid-column-start: 3;
      }
      &__burger{
         display: flex;
      }
      ._burgerOpen{
         .header__gender{
            left: 0;
         }
         .header__burger{
            span{
               border-radius: 0 0 0;
               transform: rotate(-45deg);
               transition: .4s;
               &::before{
                  top: 0;
                  border-radius: 0 0 0;
                  transform:rotate(90deg);
                  transition: .4s;
               }
               &::after{
                  transform: scale(0);
               }
            }
         }
      }
      ._sliderOpen{
         .header__arrow{
            transform:rotate(0deg);
            
         }
      }
   }
   .intro{
      background: url(../img/intro/surprised-curly-woman-in-beret-looks-to-left-charming-lady-in-pink-sweater-sunglasses-and-green-skirt-holds-grey-handbag.jpg) center / cover;
      &__inner{
         align-items: flex-start;

      }
      &__btn{
         margin: 30% 0px 0px 30px;
         font-size: 23px;
      }
   }

}

