*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
// ul,ol,li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/*! ______ОБНУЛЕНИЕ______ */
html{
   background-color: #000;
}

$maxWidth: 1920;
$maxWidthContainer: 1400;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
$addSize: $startSize - $minSize;
@if $type==1 {
// МЕНЬШЕ КОНТЕЙНЕРА
#{$property}:$startSize + px;
@media (max-width: #{$maxWidthContainer + px}) {
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidthContainer - 375}));
}
}
@else if $type==2 {
// БОЛЬШЕ КОНТЕЙНЕРА
#{$property}:$startSize + px;
@media (min-width: #{$maxWidthContainer + px}) {
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth - 375}));
}
}
@else {
//ВСЕГДА
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth - 375}));
}
}

$fontsize7px:7px;
$fontsize12px:12px;
$fontsize14px:14px;
$fontsize16px:16px;
$fontsize18px:18px;
$fontfamily1:'bad script';
$fontfamily2:'amatic sc';
$fontfamily3:'alumni sans';
$color1:rgba(255, 228, 196, 1);

.container {
   max-width: 1400px;
   margin: auto;
   padding: 0px 10px;
}
.header--up {
   font-family:$fontfamily2,sans-serif;
   font-weight: 900;
   letter-spacing: 3px;
   height: 20px;
   color: white;
   background-color: black;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   &__title{
      text-transform: uppercase;
      font-size:$fontsize12px;
   }
}
//! ///---HEADER_UP---\\\ !\\

/*! ///---HEADER_UP---\\\ !*/
.header {
   position: absolute;
   width: 100%;
   top: 20;
   left: 0;
   z-index: 999;
   font-family:$fontfamily3,serif;
   background-color:$color1;
   transition: .3s;
		&__inner {
         // height: 50px;
         // display: flex;
         // justify-content: space-between;
         // align-items: center;
         display: grid;
         grid-template-columns: 200px 1fr 200px;
         align-items: center;
         gap: 10px;
		}

		&__gender {
         display: flex;
         font-size: 28px;
         text-transform: uppercase;
         font-weight: bold;
         padding: 0px 20px;
         height: 100%;
		}

		&__male,&__female{
         cursor: pointer;
         padding: 0px 10px;
         height: 100%;
         display: flex;
         align-items: center;

         &--nav{
            position: absolute;
            top:100%;
            left: 0;
            height: 50px;
            width: 100%;
            cursor: auto;
            background-color: rgb(0, 0, 0);
            transition: .1s ease-in 0.2s;
            padding: 10px 20px;
            display: flex;
            gap: 30px;
            align-items: center;
            visibility: hidden;
         }
         &:hover{
            .header__male--nav,.header__female--nav{
               transition: .1s ease-in;
               visibility:visible;
            }
            .header__title{
               border-bottom: 3px solid black;
               @media (max-width:768px) {
                  border-bottom:none;
               }
            }
         }
		}
      &__title{
         border-bottom: 3px solid rgba(0, 0, 0, 0);
         transition: .3s;
      }
      &__arrow{
         display: none;
      }
      &__link{
         text-decoration: none;
         color:$color1;
         font-size: $fontsize14px;
         letter-spacing: 2px;
         border-bottom: 2px solid transparent;
         &:hover{
            border-bottom: 2px solid $color1;
         }
      }
      &__mobile{
         display: none;
      }
		&__logo {
         padding: 7px 0px;
         justify-self: center;
         transition: .2s;
         img{
            object-fit: cover;
            width: auto;
            // @include adaptiv-value('height',55,45,1);
            height: 55px;;
         }
         &:hover{
            transform: scale(1.1);
         }
		}

      &__right{
         display: flex;
         gap: 20px;
         justify-self:end;
      }
		&__form {
         display: flex;
         justify-content: end;
         align-items: center;
         position: relative;
         &::after{
            content: '';
            position: absolute;
            top: 100%;
            right: 0;
            width: 100%;
            height: 1px;
            background-color: black;
         }
         &:hover{
            .header__btn{
               animation: header 1s linear;
            }
         }
		}

		&__search {
         width: 130px;
         background-color:transparent;
         font-family:$fontfamily3;
         font-size: 18px;
         &::placeholder{
            padding: 0px 4px;
            color: rgb(181, 181, 181);
            letter-spacing: 4px;

         }
		}

      &__btn{
         width: 21px;
         height: 21px;
         cursor: pointer;
         transition: .3s;
      }
		&__basket {
         align-self: center;
         position: relative;
         &:hover{
            animation: header 1s linear;
         }
		}
      &__svg{
         height: 26px;
         aspect-ratio: 1/1;
      }
      &__count{
         display: flex;
         justify-content: center;
         align-items: center;
         font-family: $fontfamily3;
         font-size: 12px;
         font-weight: 700;
         color: #fff;
         position: absolute;
         right: -4px;
         bottom: 0;
         aspect-ratio: 1/1;
         height: 12px;
         border-radius: 50%;
         background-color: red;
      }
      &__burger{
         height: 30px;
         aspect-ratio: 1/1;
         display: none;
         align-items: center;
         cursor: pointer;
         span{
            width: 100%;
            height: 3px;
            background-color: black;
            position: relative;
            border-radius: 2px 0 0 2px;
            &::before{
               content: '';
               position: absolute;
               top: -8px;
               right: 0;
               height: 3px;
               width: 100%;
               background-color: black;
               border-radius: 2px 0 0 2px;

            }
            &::after{
               content: '';
               position: absolute;
               top: 8px;
               right: 0;
               height: 3px;
               width: 60%;
               background-color: black;
               border-radius: 2px 0 0 2px;

            }
         }
      }
}
._fixed{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   // background-color: rgba(255, 228, 196, .8);
}
//! ///---HEADER---\\\ !\\

/*! ///---HEADER---\\\ !*/

.intro {
   margin: 69px 0px 0px 0px;
   overflow: hidden;
   background: url(../img/intro/attention-european-man-with-megaphone-pointing-finger-to-the-left-on-pink-background.jpg) center;
   background-size: cover;
   position: relative;

   &__inner {
      display: flex;
      align-items: center;
      height: calc(100vh - 89px);
   }
   &__btn{
      margin: 0px 0px 0px 50px;
      display: flex;
      align-items: center;
      font-size: 30px;
      text-transform: uppercase;
      font-family: $fontfamily2;
      font-weight: 900;
      letter-spacing: 3px;
      word-spacing: 10px;
      border: 2px solid;
      text-align: center;
      padding: 20px;
      border-radius: 50%;
      position: relative;
      aspect-ratio: 1/1;
      color: $color1;
      top: 0;
      transition: .4s;
      &:hover{
         top: -20px;
         box-shadow: 0 20px 0px #000;
         .intro__img{
            height: 60px;
            top: 5px;
            left: 10px;
            animation-play-state: paused;
            &--1{
               top: -15px;
               left: auto;
               right: -15px;
               height:85px;
            }
            &--2{
               top: auto;
               bottom: -25px;
               left: auto;
               right: -25px;
               height:115px;
            }
            &--3{
               top: auto;
               bottom: -20px;
               left: -20px;
               height: 65px;
            }
            &--4{
               top: auto;
               bottom: 85px;
               height: 100px;
               left: -70px;
            }
            &--5{
               top: auto;
               bottom: 90px;
               left: auto;
               right: -40px;
               height: 100px;
            }

         }
         .intro__animation--twist{
            animation-play-state: paused;
         }

      }
   }
   &__animation{
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% + 90px);
      aspect-ratio: 1/1;
      transform: translate3d(-50%,-50%,0);
      &--twist{
         animation: test 7s infinite ease-in-out;
         position: relative;
         width: 100%;
         aspect-ratio: 1/1;
      }
   }
   &__img{
      animation: testq 7s infinite ease-in-out;
      position: absolute;
      top: 10px;
      left: 45px;
      height: 45px;
      transition: .4s;
      &--1{
         top: -10px;
         left: auto;
         right: 30px;
         height: 70px;

      }
      &--2{
         top: auto;
         bottom: -10px;
         left: auto;
         right: 20px;
         height: 100px;
      }
      &--3{
         top: auto;
         bottom: 10px;
         left: 10px;
         height: 50px;
      }
      &--4{
         top: auto;
         bottom: 100px;
         height: 80px;
         left: -35px;
      }
      &--5{
         top: auto;
         bottom: 90px;
         left: auto;
         right: 0px;
         height: 80px;
      }
   }
   ._hiden{
      opacity: 0;
      pointer-events: none;
   }
   &__swipe{
      transition: .3s;
      cursor: pointer;
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 100%;
      z-index: 2;
      &::after{
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width:100%;
         z-index: -1;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.17);
         backdrop-filter: blur(10px);
      }
      // transform: translateX(-50%);
      &--2{
         align-self: flex-end;
         justify-self: center;
         position: relative;
         text-align: center;
      }
   }
   &__go{
      font-family: $fontfamily3;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $color1;
      padding: 6px 0px 29px 0px;
   }
   &__arrow{
      position: absolute;
      top: 15px;
      left: 50%;
      transform: translate3d(-50%,0,0);
      height: 40px;
      aspect-ratio: 2/1;
      fill: $color1;
      animation: arrow 3s infinite ease-in-out;
      &--2{
         top: 21px;
         height: 20px;
      }
   }
}
//! ///---INTRO---\\\ !\\

/*! ///---INTRO---\\\ !*/
.slider {
   background-color: #fff;
   position: relative;
   margin: 0px 10px;
   padding: 0px;
   &:hover{
      .slick-arrow{
         opacity: 0.8;
      }
   }
   &--up{
      background-color: #fff;
      padding: 50px 0px;
   }
   &__item {
      object-fit: cover;
      display: flex;
      justify-content: center;
      a{
         display: block;
         height: 100%;
      }
   }
   &__block{
      // aspect-ratio: 1.5/1;
      &:hover{

      }
   }
   &__img{
      width: 100%;
      aspect-ratio: 1/1;
      padding: 10px 10px;
      margin: 0px 0px 15px 0px;
      img{
         width: 100%;
         object-fit: cover;
      }
   }
   &__title{
      text-transform: uppercase;
      font-family: $fontfamily3;
      letter-spacing: 2px;
      font-weight: 600;
      font-size: 14px;
      color: rgb(82, 82, 82);
      padding: 0px 20px;
      text-align: center;
   }
   &__price{
      text-align: center;
      color: #000;
      font-size: 20px;
      text-transform: lowercase;
      font-weight: 700;
      padding: 10px 0px;
      letter-spacing: 0px;
   }
   .slick-track{
      display: flex;
      align-items: flex-start;
   }
   .slick-list{
      overflow: hidden;
   }
   .slick-arrow{
      position: absolute;
      top: 50%;
      z-index: 2;
      font-size: 0;
      aspect-ratio: 1/1;
      height: 40px;
      transition: .1s;
      transform: translatey(-50%);
      opacity: 0;
      &:hover{
         opacity: 1;
         height: 43px;
      }
   }
   .slick-prev{
      
      left: 5px;
      background: url(../img/slider/arrow1.png) center / cover;
      
   }
   .slick-next{
      right: 5px;
      background: url(../img/slider/arrow2.png) center / cover;
   }
   .slick-dots{
      display: flex;
      align-items: center;
      justify-content: center;
      li{
         list-style:none;
         margin:10px 3px;

      }
      button{
         font-size: 0;
         aspect-ratio: 1/1;
         height: 10px;
         border-radius: 50%;
         background-color: rgba(0, 0, 0, 0.3);
      }
      .slick-active{
         button{
            background-color: #000;
         }
      }
   }
}

//! ///---SLIDER---\\\ !\\

/*! ///---SLIDER---\\\ !*/
.about {
   background-color: #fff;
   padding: 30px 0px;
   background: url(../img/about/beautiful-smiling-young-blonde-woman-pointing-in-sunglasses-holding-shopping-bags-and-credit-card-on-a-pink-wall.jpg) center / cover;
   color: $color1;
   &__inner {
   }


   &__right {
      max-width: 300px;
      padding: 20px 10px;
      margin: 0px 0px 0px auto;
   }

   &__title {
      font-family: $fontfamily3;
      text-transform: uppercase;
      font-size: 42px;
      font-weight: 600;
      padding: 20px 0px;
      letter-spacing: 1px;
   }

   &__text {
      font-family: $fontfamily2;
      font-size: 28px;
   }
}
//! ///---ABOUT---\\\ !\\

/*! ///---ABOUT---\\\ !*/
.ship{
   background-color: rgb(255, 255, 255);
   width: 100%;
   font-family: $fontfamily3;

   &__block{
      padding: 40px 0px;
      display: flex;
      flex-wrap: wrap;
   }
   &__title{
      font-size: 42px;
      color: rgb(0, 0, 0);
      font-weight: 700;
      width: 100%;
      font-family: $fontfamily3;
   }
   &__line{
      width: 100%;
      height: 2px;
      background-color: rgba(0, 0, 0, 0.8);
      margin: 10px 0;
   }
   &__1{
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      &--img{
         height: 50px;
         aspect-ratio: 1/1;
         margin: 0px 0px 10px 0px;
      }
      &--title{
         font-size: 18px;
         font-weight: 600;
         color: black;
         margin: 0px 0px 7px 0px;
      }
      p{
         font-size: 16px;
         color: rgb(189, 119, 119);
         position: relative;
         margin: 0px 0px 7px 0px;
      }
      span{
         color: rgba(197, 1, 1, 0.905);
      }
   }
   &__2{
      padding: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      width:50%
   }
   .tab{
      font-size: 16px;
      padding-left: 0;
      color: rgba(0, 0, 0, 0.6);
      margin-top: 0;
      margin-bottom: 0;
   }
   .target{
      height: 14px;
      position: absolute;
      left: -17px;
   }
}
//! ///---SHIP---\\\ !\\

/*! ///---SHIP---\\\ !*/
.map {
   background-color: #fff;
   &__inner {
      padding: 30px 0px;
      display: flex;
      flex-wrap: wrap;
   }

   &__geo {
      width: 60%;
      // aspect-ratio: 2/1;
   }

   &__right {
      width: 40%;
      padding: 0px 20px;

   }

   &__title {
      font-family:$fontfamily3;
      font-size: 42px;
      font-weight: 600;
      text-transform: uppercase;
      color: #000;
   }

   &__text {
      font-size: 28px;
      font-family: $fontfamily2;
      font-weight: 900;
      max-width: 300px;
   }
}



@keyframes arrow{
   0%{transform: translate3d(-50%,0,0);}
   50%{transform: translate3d(-50%,5px,0);}
   100%{transform: translate3d(-50%,0,0);}
}
@keyframes test {
   from{transform: rotate(0);}
   to{transform: rotate(360deg);}
}
@keyframes testq {
   from{transform: rotate(0);}
   to{transform: rotate(-360deg);}
}
@keyframes header {
   0%{transform:rotateX(0) scale(1)}
   50%{transform:rotateX(45deg) scale(1.2)}
   100%{transform:rotateX(0deg) scale(1)}
   
}
@media (max-width:768px){
   .header{
      &__inner{
         grid-template-columns:1fr  0 1fr;
         gap:2px;
         
      }
      &__gender{
         padding: 10px 0px;
         display: flex;
         font-size: 35px;
         position: absolute;
         top: 100%;
         left: -100%;
         width: 100%;
         background-color: rgb(255, 255, 255);
         transition: .3s;
         flex-direction: column;
         align-items: flex-start;
         gap: 4px;
         overflow: scroll;
      }
      &__male,&__female{
         color: #000;
         width: 200px;
         height: auto;
         padding: 0px 0px;
         border-radius: 3px;
         flex-direction: column;
         align-items: flex-start;
         position: relative;
         // border: 2px solid rgb(0, 0, 0);
         // border-radius: 3px;
         // background-color: $color1;
         &--nav{
            flex-direction: column;
            position:static;
            cursor: auto;
            background-color: rgb(255, 255, 255);
            padding: 10px 20px;
            display: flex;
            gap: 10px;
            width: auto;
            align-items:flex-start;
            visibility: visible;
            height: auto;
            padding-top:0;
            padding-bottom:0;
            overflow: hidden;
         }
      }
      &__title{
         padding: 5px 10px;
         width: 100%;
         border-bottom: none;
      }
      &__arrow{
         position: absolute;
         display: block;
         top: 10px;
         right: 50px;
         aspect-ratio: 1/1;
         height: 25px;
         transition: .4s;
         transform:rotate(180deg);
      }
      &__link{
         color:#000;
         font-size: 20px;
         border-bottom: none;
         &:hover{
            border-bottom: none;
         }
      }
      &__mobile{
         display: flex;
         flex-direction: column;
         color: #000;
         width: 200px;
         padding: 5px 10px;
         height: auto;
         border-radius: 3px;
      }
      &__logo{
         grid-column-start: 2;
         img{
         height: 45px;

         }
      }
      &__form{
         &::after{
            transition: .3s;
            width: 0;
            right: 0;
         }
      }
      &__search{
         width: 0px;
         transition: .3s;
      }
      ._searchActive{
         .header__search{
            width: 130px;
         }
         .header__form{
            &::after{
               width: 100%;
            }
         }
         .header__logo{
            justify-self: start;
            grid-column-start: 1;
         }
      }
      &__right{
         grid-column-start: 3;
      }
      &__burger{
         display: flex;
      }
      ._burgerOpen{
         .header__gender{
            left: 0;
         }
         .header__burger{
            span{
               border-radius: 0 0 0;
               transform: rotate(-45deg);
               transition: .4s;
               &::before{
                  top: 0;
                  border-radius: 0 0 0;
                  transform:rotate(90deg);
                  transition: .4s;
               }
               &::after{
                  transform: scale(0);
               }
            }
         }
      }
      ._sliderOpen{
         .header__arrow{
            transform:rotate(0deg);
            
         }
      }
   }
   .intro{
      margin: 59px 0px 0px 0px;
      background: url(../img/intro/surprised-curly-woman-in-beret-looks-to-left-charming-lady-in-pink-sweater-sunglasses-and-green-skirt-holds-grey-handbag.jpg) center / cover;
      &__inner{
         align-items: flex-start;
         height: calc(100vh - 79px);

      }
      &__btn{
         margin: 30% 0px 0px 30px;
         font-size: 23px;
      }
   }
   .about{
      background: url(../img/about/fon2.jpg) center / cover;
   }
   .ship{
      &__btn{
         cursor: pointer;
         display: flex;
         align-items: center;
         position: relative;
         padding: 5px 0px 5px 0px;
         &::after{
            content: '';
            transition: .4s;
            position: absolute;
            aspect-ratio: 1/1;
            height: 30px;
            top: 50%;
            right: 0px;
            transform: translateY(-50%);
            background:url(../img/ship/arrow1.png) center / cover;
         }
      }
      ._sliderOpen{
         .ship__btn{
            &::after{
               transform: translateY(-50%) rotate(180deg);
            }
         }
      }
      &__1{
         padding: 10px 10px 0px 10px;
         &:last-child{
            padding: 10px 10px 10px;
         }
         &--img{
            margin: 0px 10px 0px 0px;
         }
         &--title{
            margin: 0px 0px;
         }
      }
      &__info{
         font-size: 8px;
         padding: 0px 5px;
         font-weight: 400;
         font-family: $fontfamily3;
      }
      &__psevdo{
         transition: .4s;
         overflow: hidden;
      }
      &__2{

         padding: 10px 10px 0px ;
         width: 100%;
      }
      .tab{
         padding: 0px 15px;
         transition: .4s;
         overflow: hidden;
      }
   }
   .map{
      text-align: center;
      &__geo{
         width: 100%;
         aspect-ratio: 2/1;
      }
      &__right{
         width: 100%;
         padding: 10px 0px;
      }
      &__title{
         padding: 10px 0px;
      }
      &__text{
         padding: 0px 30px;
         max-width: none;
      }
   }
}
@media (max-width:566px){
   .about{
      &__right{
         max-width: 200px;
      }
   }
}
@media (max-width:374px){
   .header{
      &__logo{
         grid-column-start: 1;
         justify-self: start;
      }
      &__right{
         gap: 12px;
      }
      &__search{
         max-width: 90px;
      }
   }
   .about{
      &__right{
         max-width: 180px;
      }
   }
   .map{
      &__title{
         font-size: 38px;
      }
      &__text{
         padding: 0px 0px;
         font-size: 24px;
      }
   }
}

